body {
    background-color: black;
}

div.player {
    display: flex;
    justify-content: space-evenly;
}

div.computer {
    display: flex;
    justify-content: space-evenly;
}


h3 {
    font-size: 2em;
    display: block;
    align-self: center;
    text-align: center;
    color: white;
}

.score {
    display: flex;
    align-items: center;
    justify-content: stretch;

    /* margin-top: 100px; */
}

div.score {
    display: flex;
    justify-content: center;
}

p.message {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.hide {
    display: none;
}

div.score {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 3em;
    padding: 0 40px;
}

/* p.pScore {
    color: white;

}

p.cScore {
    color: white;
    font-size: 3em;
    padding: 0 40px;
} */

div.center {
    display: center;
    align-items: center;
    justify-content: center;
}